/* Start Variables */
:root {
  --main-color: #2695ff;
  --second-color: #1877f2;
  --third-color: #05c7f2;
  --text-color: #777;
}

/* End Variables */
/* Start Carousel */
.carousel img {
  height: 100vh;
}
.carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  font-size: 2rem;
}
.carousel .carousel-caption h3 {
  color: var(--third-color);
  font-size: 2rem;
  letter-spacing: 1.5px;
}

/* End Carousel */
/* Start About */
#about .container .col {
  padding: 25px 8px;
  transition: 0.5s;
}
#about .container .col:hover {
  box-shadow: 0 0 13px 5px #eee;
}
#about .container .col i {
  color: var(--main-color);
}
#about .container .col .text {
  color: var(--text-color);
}

/* End About */
/* Start Services */
.services .container .col img {
  width: 20%;
}
.services .container .col p {
  color: var(--text-color);
}

/* End Services */
/* Start Banners */
.banners .container {
  display: flex;
  gap: 5px;
}
.banners .container .col {
  display: grid;
  gap: 5px;
}
.banners .container .col .banner {
  position: relative;
}
.banners .container .col .banner img {
  height: 100%;
  width: 100%;
}
.banners .container .col .banner .content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0%;
  left: 0%;
  padding: 70px;
  color: white;
}
.banners .container .col .banner .content h1 {
  text-transform: uppercase;
  font-weight: bolder;
}
.banners .container .col .banner .content a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 18px;
  margin-top: 25px;
  color: white;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 20PX;
  letter-spacing: 1.2px;
}
.banners .container .col .banner .content a:hover {
  background-color: white;
  color: var(--third-color);
}
.banners .container .col .banner > span {
  display: block;
  background-color: white;
  position: absolute;
  z-index: 2;
}
.banners .container .col .banner > span.line-1 {
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  width: 0;
  height: 0;
}
.banners .container .col .banner > span.line-2 {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
}
.banners .container .col .banner > span.line-3 {
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
}
.banners .container .col .banner > span.line-4 {
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  width: 0;
  height: 0;
}
.banners .container .col .banner:hover > span.line-1 {
  height: 1px;
  width: 90%;
}
.banners .container .col .banner:hover > span.line-2 {
  width: 1px;
  height: 90%;
}
.banners .container .col .banner:hover > span.line-3 {
  width: 1px;
  height: 90%;
}
.banners .container .col .banner:hover > span.line-4 {
  height: 1px;
  width: 90%;
}
.banners .container .col:first-child {
  grid-template-rows: 60% 40%;
}
.banners .container .col:last-child {
  grid-template-rows: 40% 60%;
}

/* End Banners */
/* Start Latest Auctions */
.latest-auctions .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px;
}
.latest-auctions .container .more:hover {
  text-decoration: underline !important;
}

/* End Latest Auctions *//*# sourceMappingURL=home.css.map */